.fon {
    width: 1100px;
    background: #C4C4C4;
    padding: 50px 0;
}
.line_1,
.line_2,
.line_3 {
    width: 1000px;
    background: #E6E6E6;
    margin: 0 50px
}
.line_2 {
    margin: 50px;
}
span {
    display: inline-block;
}
.line_1>span {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
}
.one {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
}
.line_3>span {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
}