body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
.fon {
    max-width: 1100px;
    background: #C4C4C4;
    padding: 50px 0;
    margin: 0 auto;
}
.line_1,
.line_2,
.line_3 {
    max-width: 1000px;
    background: #E6E6E6;
    margin: 0 50px;
    overflow: hidden;
}
span {
    text-align: center;
    width: 200px;
    padding: 62.5px 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    background: #FC8F8F;
}
.line_1 span:first-child {
    float: left;
}
.line_1 span:last-child {
    float: right;
}
.line_2 {
    margin: 50px;
}
.line_2>span {
    float: left;
}
.line_2 div {
    float: right;
}
.line_2 div>span {
    float: left;
    width: 100px;
    padding: 29px 0;
    margin-left: 13px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
.line_3 div:first-child {
    float: left;
}
.line_3 div:last-child {
    float: right;
}
.line_3 div:first-child span {
    margin-right: 13px;
    float: left;
}
.line_3 div:last-child span {
    margin-left: 13px;
    float: left;
}